<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ProductMapper">


	<insert id="insert" parameterType="product">
		INSERT INTO T_PRODUCT VALUES
		(PSEQ.NEXTVAL,#{name},#{price},SYSDATE,#{imgname})
	</insert>
	<update id="update" parameterType="product">
		UPDATE T_PRODUCT SET
		NAME=#{name},PRICE=#{price},IMGNAME=#{imgname} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="INTEGER">
		DELETE FROM T_PRODUCT WHERE ID=#{obj}
	</delete>

	<select id="select" parameterType="Integer" resultType="product">
		SELECT *
		FROM T_PRODUCT WHERE ID=#{obj}
	</select>
	<select id="selectall" resultType="product">
		SELECT * FROM T_PRODUCT
	</select>

</mapper>






